<a href="https://colab.research.google.com/github/JUNGJEAHYUN/siteplanning_2022/blob/master/json.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from urllib.parse import urlencode, unquote
import requests
import json
import urllib.request
import pandas as pd
from pandas.io.json import json_normalize

In [2]:
url = "입력url"
queryString = "?" + urlencode(
{
  "ServiceKey": unquote("#내 서비스 key"),
  "brtcCode": "26",
  "signguCode": "710",
  "numOfRows": "10000000000",
  "pageNo": 1,
  "dataType": "JSON"
}
)

In [4]:
## URL 만들기
queryURL = url + queryString

In [5]:
## URL 불러오기 
response = urllib.request.urlopen(queryURL)

In [6]:
## json에 있는 데이터를  utf-8코드로 변환(한글일 경우 그대로 읽어오면 문자가 깨짐)
json_str = response.read().decode("utf-8")

In [13]:
##가져온 json에 있는 문자열을 읽어옴 
json_object = json.loads(json_str) # 표출해보면 dictionary 형태로 정렬되어있는 것을 볼 수 있음

In [12]:
##json에 hsmpList에 있는 dictionary 형태의 데이터를 배열로 만듦
hsmpList = [json_object['hsmpList']]

In [9]:
##df_house 변수에 DataFrame으로 생성된 객체를 넣음
df_house = pd.DataFrame(json_object['hsmpList'])

In [10]:
df_house.head()

     numOfRows  pageNo  totalCount  ...  bassRentGtn bassMtRntchrg bassCnvrsGtnLmt
0  10000000000       1         126  ...    134500000        151770       148500000
1  10000000000       1         126  ...    134500000        151770               0
2  10000000000       1         126  ...    122400000        143350               0
3  10000000000       1         126  ...    122400000        143350       135400000
4  10000000000       1         126  ...    122400000        143350       135400000

[5 rows x 26 columns]

In [11]:
##csv형태로 저장
df_house.to_csv('house_기장군.csv',encoding=' utf-8-sig')