<a href="https://colab.research.google.com/github/JUNGJEAHYUN/siteplanning_2022/blob/master/json%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from urllib.parse import urlencode, unquote
import requests
import json
import urllib.request
import pandas as pd
from pandas.io.json import json_normalize

In [10]:
url = "http://apis.data.go.kr/B553530/GHG_STATS_03/GHG_STATS_03_LIST"
queryString = "?" + urlencode(
{
  "ServiceKey": unquote("4xDvOpaV7CpTr1bm%2BC%2BzeisR0P3e35qVobSYmlq6Eu32Q2%2Bz78dS9nkGq%2BzsjsostMyGPaccfoFY4dxlwq65Ow%3D%3D"),
  "numOfRows": "10000000000",
  "pageNo": 1,
  "apiType": "JSON",
  "q6": "부산"
}
)

In [11]:
## URL 만들기
queryURL = url + queryString

In [12]:
## URL 불러오기 
response = urllib.request.urlopen(queryURL)

In [13]:
## json에 있는 데이터를  utf-8코드로 변환(한글일 경우 그대로 읽어오면 문자가 깨짐)
json_str = response.read().decode("utf-8")

In [18]:
##가져온 json에 있는 문자열을 읽어옴 
json_object = json.loads(json_str) # 표출해보면 dictionary 형태로 정렬되어있는 것을 볼 수 있음
print(json_object)

{'pageNo': '1', 'totalCount': 94893, 'numOfRows': '-1', 'opentable': {}}

In [15]:
##json에 hsmpList에 있는 dictionary 형태의 데이터를 배열로 만듦
hsmpList = [json_object['opentable']]

In [16]:
##df_house 변수에 DataFrame으로 생성된 객체를 넣음
df_house = pd.DataFrame(json_object['opentable'])

In [17]:
df_house.head()

Empty DataFrame
Columns: []
Index: []

In [ ]:
##csv형태로 저장
df_house.to_csv('final'.csv',encoding=' utf-8-sig')