<a href="https://colab.research.google.com/github/JUNGJEAHYUN/siteplanning_2022/blob/master/json_pageNo_%EB%B0%98%EB%B3%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from urllib.parse import urlencode, unquote, quote
import requests
import json
import urllib.request
import pandas as pd
from pandas.io.json import json_normalize

In [ ]:
i=0
while True:
  try : 
    i=i+1
    url = "http://apis.data.go.kr/B553530/GHG_STATS_03/GHG_STATS_03_LIST"
    queryString = "?" + urlencode(
        {
          "ServiceKey": unquote("4xDvOpaV7CpTr1bm%2BC%2BzeisR0P3e35qVobSYmlq6Eu32Q2%2Bz78dS9nkGq%2BzsjsostMyGPaccfoFY4dxlwq65Ow%3D%3D"),
          "pageNo": i,
          "numOfRows": "100",
          "apiType": "JSON",
          "q3": "GHG",
          "q6": "부산"
        }
        )
    queryURL = url + queryString
    response = urllib.request.urlopen(queryURL)
    json_str = response.read().decode("utf-8")
    json_object = json.loads(json_str)
    
    hsmpList = json_object['opentable']['field']
    if i==1 : 
      df = pd.DataFrame(hsmpList)
    else : 
      df_to_insert = pd.DataFrame(data=hsmpList)
      df = df.append(df_to_insert, ignore_index=True)
  except : 
    break

In [ ]:
data_list =[]

for i in range(1,1000):

  url = "http://apis.data.go.kr/B553530/GHG_STATS_03/GHG_STATS_03_LIST"
  queryString = "?" + urlencode(
  {
    "ServiceKey": unquote("4xDvOpaV7CpTr1bm%2BC%2BzeisR0P3e35qVobSYmlq6Eu32Q2%2Bz78dS9nkGq%2BzsjsostMyGPaccfoFY4dxlwq65Ow%3D%3D"),
    "pageNo": i,
    "numOfRows": "100",
    "apiType": "JSON",
    "q6": unquote("부산")
  }
  )

  queryURL = url + queryString

  response = urllib.request.urlopen(queryURL)

  json_str = response.read().decode("utf-8")

  json_object = json.loads(json_str)
  try:
    k = json_object['opentable']['field']
    for j in k:
      data_list.append(j)

  except:
    break

  data = pd.DataFrame(data_list)

print(data)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10152 entries, 0 to 10151
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   DATA_REG_DT        10152 non-null  object
 1   KSIC_CD            10152 non-null  object
 2   ENGSRC_DVSN_NM     10152 non-null  object
 3   ENGSRC_NM          10152 non-null  object
 4   LOCL_DVSN_NM       10152 non-null  object
 5   DATA_DVSN_CD       10152 non-null  object
 6   USEMS_QNTY_NIDVAL  10152 non-null  object
 7   TRGT_YEAR          10152 non-null  object
 8   UNIT_NM            10152 non-null  object
dtypes: object(9)
memory usage: 713.9+ KB

In [ ]:
##csv형태로 저장
df.to_csv('final.csv',encoding=' utf-8-sig')