<a href="https://colab.research.google.com/github/JUNGJEAHYUN/siteplanning_2022/blob/master/%EA%B1%B4%EC%B6%95%EB%AC%BC%EB%8C%80%EC%9E%A5%EC%9D%BD%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 구글 드라이브 연결
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
# 해당 파일 불러오기
url='/content/gdrive/MyDrive/mart_djy_03.txt'

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
f = open(url, 'r')
print(f)

<_io.TextIOWrapper name='/content/gdrive/MyDrive/mart_djy_03.txt' mode='r' encoding='UTF-8'>

In [ ]:
# 텍스트 파일 읽기
f = open(url, 'r',encoding = 'cp949')
line = f.readline()
print(line)
f.close()

27710-2357|1|일반|2|일반건축물|대구광역시 달성군 화원읍 천내리 154-3번지| 대구광역시 달성군 화원읍 화원로1길 67-7||27710|25021|0|0154|0003||||0|277104244599|25001|0|67|7||0|주건축물|632.5|267.6|42.31|377.68|377.68|59.72|21|철근콘크리트구조|철근콘크리트,조적조|03000|제1종근린생활시설|근린생활시설|10|(철근)콘크리트|스라브|0|1|0|2|0|0|0|2|114.56|377.68|0|0|0|0|0|0|0|0|19830215||19831114||||||0||0|0||0||0|20110414||

In [ ]:
# 텍스트 파일 문자열로 나누기
line_1 = line.split('|')
print(line_1)

['27710-2357', '1', '일반', '2', '일반건축물', '대구광역시 달성군 화원읍 천내리 154-3번지', ' 대구광역시 달성군 화원읍 화원로1길 67-7', '', '27710', '25021', '0', '0154', '0003', '', '', '', '0', '277104244599', '25001', '0', '67', '7', '', '0', '주건축물', '632.5', '267.6', '42.31', '377.68', '377.68', '59.72', '21', '철근콘크리트구조', '철근콘크리트,조적조', '03000', '제1종근린생활시설', '근린생활시설', '10', '(철근)콘크리트', '스라브', '0', '1', '0', '2', '0', '0', '0', '2', '114.56', '377.68', '0', '0', '0', '0', '0', '0', '0', '0', '19830215', '', '19831114', '', '', '', '', '', '0', '', '0', '0', '', '0', '', '0', '20110414', '', '\n']

In [ ]:
# 텍스트 파일 데이터프레임(2차원 데이터)으로 변환하기 (예 : [[0,0,0],[0,0,0],[0,0,0],[0,0,0], ...])
new_list =[]
f = open(url, 'r',encoding = 'cp949')

while True:
    data=[]
    line = f.readline()
    if not line: break
    Line_1 = line.split('|')
    data=[Line_1[0],Line_1[5],Line_1[6],Line_1[28],Line_1[35],Line_1[36]]
    new_list.append(data)

f.close()

In [ ]:
df = pd.DataFrame(new_list)

In [ ]:
df.columns = ['PK','지번주소','도로명주소','연면적','주용도','기타용도']

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7886870 entries, 0 to 7886869
Data columns (total 6 columns):
 #   Column  Dtype
---  ------  -----
 0   PK      object
 1   지번주소    object
 2   도로명주소   object
 3   연면적     object
 4   주용도     object
 5   기타용도    object
dtypes: object(6)
memory usage: 361.0+ MB

In [ ]:
df.isnull().sum()

PK       0
지번주소     0
도로명주소    0
연면적      0
주용도      0
기타용도     0
dtype: int64

In [ ]:
BS = df[df['지번주소'].str.contains('부산광역시')]

In [ ]:
BS.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 363106 entries, 49 to 7886869
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   PK      363106 non-null  object
 1   지번주소    363106 non-null  object
 2   도로명주소   363106 non-null  object
 3   연면적     363106 non-null  object
 4   주용도     363106 non-null  object
 5   기타용도    363106 non-null  object
dtypes: object(6)
memory usage: 19.4+ MB

In [ ]:
BS_1 = BS[BS['주용도'].str.contains('근린생활')]